* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #cccccc;
    font-family: 'Open Sans', serif;
    font-size: 15px;
}
.cross-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: inline-block;
    height: 60px;
}
.float-left {
    float: left;
    margin-left: 10px;
}
.force-right {
    position: absolute;
    right: 10px;
}
.cross-button {
    background-color: #0099cc;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border: none;
    padding: 10px 20px;
}
.cross-button:disabled {
    background-color: #cccccc;
}
.cross-view-window {
    position: relative;
    display: inline-block;
    padding: 100px 0px 0px 100px;
    width: 1350px;
    height: 900px;
    overflow: visible;
}
.bottom-image {
}
.top-image {
    overflow: visible;
    cursor: pointer;
}
/*#panzoomCrossTop {
    opacity: 0.5;
}*/
.sepia {
    -webkit-filter: saturate(800%) sepia(100%);
    filter: saturate(800%) sepia(100%);
}
.huerotate {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}
.content {
    height: 100vh;
}
.cross-viewer-fluid {
    height: calc(100% - 70px);
}
.cross-viewer-wrapper {
    position: relative;
    background: #cccccc;
    float: left;
    overflow: hidden;
    width: 100%;
    min-width: 1315px;
    min-height: 330px;
    height: 50%;
    padding: 10px;
    display: inline-block;
}
.cross-viewer {
    position: relative;
    overflow: hidden;
    min-width: 300px;
    width: 24%;
    min-height: 300px;
    margin-left: 10px;
    height: 100%;
    display: inline-block;
}
.svg-container {
    position: absolute;
}