* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #cccccc;
    font-family: 'Open Sans', serif;
    font-size: 15px;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
.material-icons.md-br-pad {
    padding: 0px 5px 3px 0px;
}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.align-left {
    float: left;
    padding: 4px 0px 0px 0px;
}
.align-right {
    float: right;
    padding: 0;
}
.panel-group {
    margin-bottom: 0;
}
.panel-title {
    vertical-align: middle;
    padding: 0;
}
.panel-heading {
    vertical-align: middle;
    padding: 3px 15px;
}
ul{
    list-style-type: none;
    padding: 0px 10px;
    margin-left: 0px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 0;
}
h1{
    font-weight: bold;
    font-size: 18px;
}
h4{
    font-size: 18px;
    color: #0099cc;
    vertical-align: middle;
}
.wrapper{
    position: absolute;
    min-width: 1000px;
    min-height: 600px;
    width: 100%;
    height: 100%;
}
.header{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    padding: 4px;
    background-color: #0099cc;
}
.content{
    position: absolute;
    top: 50px;
    bottom: 40px;
    width: 100%;
}
.footer{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding: 10px;
    color: white;
    background-color: #666666;
    text-align: center;
}
.fixed-col{
    background-color: #e6e6e6;
    float: left;
    width: 200px;
    min-width: 200px;
    height: 100%;
    padding: 10px;
}
.fluid-col{
    float: left;
    width: 100%;
    min-width: 0px;
    height: 100%;
    margin-left: -200px;
}
.inner-fluid-col{
    margin-left: 200px;
    height: 100%;
}
.inner-fluid-left-col{
    float: left;
    width: 70%;
    height: 100%;
    padding: 10px;
}
.inner-fluid-right-col{
    background-color: #e6e6e6;
    float: left;
    width: 30%;
    height: 100%;
    background-color: lightred;
    padding: 10px;
}