* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #cccccc;
    font-family: 'Open Sans', serif;
    font-size: 15px;
}

/* progress bar */
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.pre-loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.post-loader-success {
    background-color: #33cc33;
}
.post-loader-fail {
    background-color: #ff0000;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #33ccff; /*#2980b9;*/
    animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.suboption-wrapper {
    width: 100%;
    float: left;
}
.suboption-col {
    width: 50%;
    min-width: 175px;
    float: left;
}

.suboption {
    margin-left: 20px;
}
.subsuboption {
    margin-left: 40px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    /*color: rgba(0, 0, 0, 0.40);*/
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}
/*.material-icons.md-dark:hover {
    color: rgba(0, 0, 0, 0.6);
}*/
.material-icons.md-br-pad {
    padding: 0px 5px 3px 0px;
}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.align-left {
    float: left;
}
.custom-file-input {
    display: inline-block;
    padding: 8px 3px 3px 10px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.panzoom {
    position: absolute;
    image-rendering: pixelated;
}
.svg-container {
    position: absolute;
}
.reference-text{
    width: 100%;
    height: 150px;
    overflow:auto;
    margin-top: 10px;
    margin-bottom:20px;
}
.nav-item {
    margin-left: 10px;
}
.nav-two-cam {
    display: none;
}
.nav-three-cam {
    display: none;
}
.nav-list {
    display: block;
}
.nav-sequence {
    display: none;
    padding-left: 10px;
}
.nav-cine {
    display: none;
    /*padding-left: 10px;*/
}
.sample-filename {
    color: #ff0000;
}
.calib-button {
    background-color: #0099cc;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.calib-button:disabled {
    background-color: #666666;
}

#selectable .ui-selecting {
    background: #ff0000;
}
#selectable .ui-selected {
    background: #ff9999;
    color: white;
}
.selectable-box {
    margin-top:5px;
    margin-bottom:10px;
    height: 200px;/*calc(100% - 450px);*/
    /*position:relative; bottom:10px;*/
    width:100%;
    overflow:scroll;
    overflow-x:hidden;
    background-color:#FFFFFF;
    border:1px solid #D0D0D0;
}
#selectable {
    list-style-type: none;
    padding: 2px;
    margin: 0;
    width: 98%;
}
#selectable li {
    margin: 0 0 3px 0;
    padding: 3px;
    font-size: 1em;
    height: auto;
    min-height: 100%;
    overflow: auto;
    list-style-position:inside;
    background: #e6e6e6;
    border-radius: 3px;
}
.banner-button {
    position: absolute;
    bottom: 0;
    color: white;
    vertical-align: middle;
    background-color: #33ccff;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    height: 36px;
    float: left;
}
.banner-button:hover {
    background-color: #b3ecff;
}
.params-button {
    right: 5px;
}
.param-options {
    padding-top: 10px;
    line-height: 20px;
}
.stereo-button {
    right: 50px;
    width: 62px;
    padding: 5px 3px 3px 3px;
}
.stack-button {
    display: none;
    right: 122px;
    padding: 5px 3px 3px 3px;
}
.view-actions-container {
    padding: 3px;
}
.align-right {
    float: right;
}
.view-controls {
    height: 30px;
    width: 100%;
    float: left;
    background-color: white;
    padding: 3px 15px;
    margin: 0px 0px 3px 0px;
}
.toggler {
    cursor: pointer;
}
.toggle-title {
    float: left;
    height: auto;
    padding: 1px 0px 0px 5px;
}
.toggle-title-bold {
    float: left;
    height: auto;
    padding: 1px 0px 0px 5px;
    font-weight: bold;
}
.toggle-icon {
    float: right;
    height: auto;
}
.toggle-div {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3px;
}
.toggle-div-banner {
    padding: 3px 3px 0px 3px;
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px 5px 0px 0px;
}
.toggle-div-body {
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    /*min-height: 150px;*/
    padding: 3px 15px;
}
.sub-fill-div {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 3px 3px 0px 0px;
}
.fill-div {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
}
.minimized-bar {
    width: 32px;
    height: 100%;
    float: left;
    padding: 3px 3px 5px 0px;
    overflow: hidden;    
}
.minimized-bar-banner {
    width: 100%;
    height: 100%;
    padding: 3px 3px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    text-align: center;
}
p {
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
    padding: 0px 10px;
    margin-left: 0px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 0;
}
.action-li {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.action-li:hover {
    color: rgba(0, 0, 0, 1.0);
}
.action-li-horiz {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    float: left;
    padding: 0px 20px 0px 0px;
}
.action-li-horiz:hover {
    color: rgba(0, 0, 0, 1.0);
}
h1 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}
h4 {
    font-size: 18px;
    color: #0099cc;
    vertical-align: middle;
}
.wrapper {
    position: absolute;
    min-width: 1200px;
    min-height: 1000px;
    width: 100%;
    height: 100%;
}
.header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    padding: 4px;
    background-color: #0099cc;
    vertical-align: middle;
}
.content {
    position: absolute;
    top: 50px;
    bottom: 40px;
    width: 100%;
}
.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding: 10px;
    color: white;
    background-color: #666666;
    text-align: center;
}
.fixed-col {
    background-color: #e6e6e6;
    float: left;
    width: 210px;
    min-width: 200px;
    height: 100%;
    padding: 0px 10px 10px 10px;
    overflow: auto;
}
.fluid-col {
    position: absolute;
    left: 210px;
    right: 0;
    float: left;
    min-width: 0px;
    height: 100%;
}
.inner-fluid-left-col {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px 5px 10px 10px;
}
.inner-fluid-right-col {
    display: none;
    background-color: #e6e6e6;
    float: left;
    height: 100%;
    padding: 10px;
    overflow: auto;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #33ccff;
}
.console {
    width: 100%;
    height: 35vh;
    min-height: 35vh;
    font-size: 12px;
    overflow-y: scroll;
    padding-right: 0;
}
.results-window {
    width: 100%;
    height: 35vh;
    min-height: 35vh;
    font-size: 12px;
    overflow-y: scroll;
    padding-right: 0;
}
.results-sub-window {
    width: 50%;
    height: 100%;
    float: left;
}
.def-image-list-container {
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 100px;
    overflow-y: scroll;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-left: 5px;
}
.def-image-ul {
    font-size: 12px;
    line-height: 20px;
}
.cal-list-container {
    width: 100%;
    background-color: white;
    padding: 0px;
    height: 20px;
    overflow-y: scroll;
    word-wrap: break-word;
    margin-bottom: 5px;
    margin-left: 5px;
}
.cal-ul {
    font-size: 12px;
    line-height: 20px;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #666666;
}
.plotly-viewer {
    float: left;
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
}

